
header {
    background-image : 'bg05.jpg'; /* 배경사진의 경로를 입력하세요 */
   
    display: flex; /* Flexbox를 사용하여 중앙 정렬 */
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
    text-align: center;
}

h1 {
    background-color: #c17b7b;
    color: white;
    padding: 20px 0;
}
h1 {
    background-color: #ffffff;
    color: rgb(164, 164, 164);
    padding: 20px 0;
}

p {
    margin: 20px;
}

a {
    display: inline-block;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: #007BFF;
    border-radius: 5px;
}

a:hover {
    background-color: #0056b3;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #ff5722;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e64a19;
}